version: '3.8'
services:
  api:
    build: .
    container_name: crowmind-api
    restart: always
    ports:
      - "8000:8000"
    environment:
      - SUPABASE_URL=your_supabase_url
      - SUPABASE_KEY=your_key

  nginx:
    image: nginx:alpine
    container_name: crowmind-nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api

